.downloads {
  margin-top: 70px;

  .download-intro {
    text-align: center;
    margin-bottom: 50px;
    
    @media screen and (min-width: $mobile) {
      width: 50%;
      margin-inline: auto;
    }
  }

  .extensions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: $mobile) {
      flex-direction: row;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid 1px $grayishBlue;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      margin-right: 30px;
      height: 350px;
      border: 0;
      box-shadow: 1px 3px 7px 3px rgba(0,0,0,0.29);
      position: relative;
      

      p {
        text-align: center;
        padding: 20px;
        width: 100%;
        border-bottom: dotted 1px $grayishBlue;

      }
      .add-btn {
        background-color: $softBlue;
        color: $gray;
        border: solid 1px $softBlue;
        &:hover {
          background: transparent;
          color: $softBlue;
          border: solid 1px $softBlue;
        }
      }
    }

    .card2 {
      margin-top: 30px;
    }

    .card3 {
      margin-top: 60px;
    }
  }
}