html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  // border: solid 1px red;
}

h1, h2, h3, p {
  margin-top: 0;
}

button {
  padding: 14px;
  @media screen and (min-width: $mobile) {
    padding: 15px 22px;
  }
  border-radius: 10px;
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.53);
  cursor: pointer;
}

a, a:visited, a:active {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-sm;
  font-family: 'Rubik';
  line-height: 1.3;
}

// FLEXBOX
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

// TEMPORARY
// .logo-white color {
//   color: #eee;
// }

// VISIBILITY 
.nav div.hidden {
  display: none;
}

.faq .faq-card p.active {
  display: flex ;
}
// .hide-for-desktop {
//   @media screen and (min-width: $mobile) {
//     display: none;
//   }
// }

// .hide-for-mobile {
//   @media screen and (min-width: $desktop){
//     display: none;
//   }
// }