.header {
  margin: 50px 25px;
  @media screen and (min-width: $mobile) {
    margin: 45px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-btn {
    @media screen and (min-width: $mobile) {
      display: none;
    }
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $veryDarkBlue;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 40px 30px;
    z-index: 6;
    .mobile-menu  {
      display: flex;
      min-width: 90%;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .mobile-links {
      display: flex;
      width: 90%;
      flex-direction: column;
      text-align: center;
      margin-bottom: 200px;
      a {
        padding: 25px 0;
        font-weight: 500;
        font-size: 1rem;
        border-top: 1px solid $grayishBlue;
        color: $grayishBlue;
      }

      a.login-btn {
        border: solid 2px white;
        color: white;
        background: transparent;
        border-radius: 10px;
        padding: 10px 20px;
      }

    }
    .social-links {
      width: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-links {
    display: none;
    
    a {
     margin-left: 45px;
     font-size: 0.75rem;
     color: $veryDarkBlue;
    }

    a.login-btn {
      background-color: $softRed;
      padding: 0.9375rem 2.1875rem; 
      font-weight: 500;
      color: white;
      border-radius: 10px;
      border: solid 1px $softRed;
      cursor: pointer;

      &:hover {
        border: solid 1px $softRed;
        background-color: transparent;
        color: $softRed;
      }

    }
    

    @media screen and (min-width: $mobile) {
      display: flex;
      align-items: center;
    }
  }
}

