.hero {
  margin: 50px 20px;
  position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: $softBlue;
      width: 300px;
      height: 40%;
      top: 10%;
      left: 20%;
      border-radius: 50% 0 0 50%;
      z-index: -5;
    }
  @media screen and (min-width: $mobile) {
    margin: 45px;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: $softBlue;
      width: 400px;
      height: 70%;
      top: 30%;
      left: 80%;
      border-radius: 50% 0 0 50%;
      z-index: -5;
    }
  }

  
  
  
  .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;

    
    @media screen and (min-width: $mobile) {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    

  .hero-img {
    width: 100%;
    max-width: 580px;
    margin-inline: auto;
    margin-bottom: 70px;

  }
  
  .hero-body {
    @media screen and (min-width: $mobile) {
      order: -1;
      margin-right: 120px;
      
    }

    h1 {
      font-size: clamp(1.4375rem, 2vw + 1rem, 2.375rem);
    }

    p {
      font-size: clamp(0.625rem, 1vh + 1rem, 0.875rem);
      margin-bottom: 25px;
      line-height: 2;
    }

    .download-btn {
      margin-top: 25px;
      display: flex;
      @media screen and (min-width: $mobile) {
        margin-bottom: 30px;
      }
    }
    .download-btn .chrome {
      background: $softBlue;
      color: white;
      border: solid 1px $softBlue;
      margin-right: 10px;
      &:hover {
        border: solid 1px $softBlue;
        background-color: transparent;
        color: $softBlue;
      }
    }
    .download-btn .firefox {
      background: $gray;
      border: solid 1px $gray;
      color: $veryDarkBlue;
      &:hover {
        border: solid 1px $veryDarkBlue;
      }
    }
  }
}
}