$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$gray: hsl(0, 17%, 93%);


// FONTS 
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$rubik: 'Rubik' sans-serif;


// LAYOUT
$mobile: 23.4375rem; //375px
$tablet: 43.75rem; //700px
$desktop: 90rem; // 1440px
