$softbBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);


// FONTS 
$fontSize: 1.125rem; // 18px

// LAYOUT
$mobile: 23.4375rem; //375px
$desktop: 90rem; // 1440px
